# Assignment 9

In [264]:
import gensim, operator
from scipy import spatial
import numpy as np
from gensim.models import KeyedVectors
model_path = '/Users/matthewvitha/Downloads/'

# Load Word 2 Vec

In [265]:
def load_wordvec_model(modelName, modelFile, flagBin):
    print('Loading ' + modelName + ' model...')
    model = KeyedVectors.load_word2vec_format(model_path + modelFile, binary=flagBin)
    print('Finished loading ' + modelName + ' model...')
    return model

model_word2vec = load_wordvec_model('Word2Vec', 'GoogleNews-vectors-negative300.bin.gz', True)

Loading Word2Vec model...
Finished loading Word2Vec model...

# Reload and LDA, and print topics from topic model

In [266]:
from gensim import corpora, models, similarities
model_reloaded =  models.LdaModel.load('lda.model.deduped')

In [267]:
model_reloaded.print_topics(-1)

[(0,
  '0.026*"oil" + 0.020*"saudi" + 0.016*"said" + 0.015*"attack" + 0.008*"energy" + 0.008*"arabia" + 0.007*"u" + 0.007*"world" + 0.007*"iran" + 0.007*"aramco"'),
 (1,
  '0.025*"may" + 0.024*"investor" + 0.021*"price" + 0.017*"company" + 0.012*"value" + 0.010*"share" + 0.010*"ratio" + 0.009*"average" + 0.009*"day" + 0.008*"score"'),
 (2,
  '0.046*"share" + 0.028*"company" + 0.020*"quarter" + 0.015*"rating" + 0.015*"dividend" + 0.013*"etf" + 0.012*"fund" + 0.010*"average" + 0.010*"price" + 0.009*"inc"'),
 (3,
  '0.007*"it" + 0.007*"one" + 0.007*"year" + 0.006*"like" + 0.006*"time" + 0.005*"money" + 0.005*"people" + 0.005*"get" + 0.005*"make" + 0.004*"would"'),
 (4,
  '0.021*"company" + 0.007*"business" + 0.006*"year" + 0.006*"investor" + 0.005*"investment" + 0.005*"million" + 0.005*"billion" + 0.005*"share" + 0.005*"new" + 0.005*"service"'),
 (5,
  '0.014*"rate" + 0.011*"u" + 0.010*"year" + 0.009*"bank" + 0.009*"price" + 0.008*"bond" + 0.008*"yield" + 0.007*"growth" + 0.007*"economy" + 0.007*"week"'),
 (6,
  '0.018*"u" + 0.017*"china" + 0.014*"said" + 0.014*"trade" + 0.012*"percent" + 0.011*"trump" + 0.008*"point" + 0.007*"chinese" + 0.007*"tariff" + 0.006*"rose"')]

# Topic 1 - Energy and Oil 
# Topic 2 - Investor Reach Out
# Topic 3 - Company Fundamentals
# Topic 4 - Misc.
# Topic 5 - Company Financials 
# Topic 6 - Financial Markets, Yields, Macro
# Topic 7 - Trade War and Tariffs

# Build Taxonomy from Financial markets related corpus

In [268]:
# BUILD YOUR OWN TAXONOMY BASED ON LDA and MANUAL DATA EXPLORATION
topic_taxonomy = {
    "Energy":
    {
        "Oil":  "crude wti barrel brent gasoline",
        "Oil Countries":  "Saudi Arabia Opec Qatar Iraq Iran UAE Venezuela",
        "Energy News": "Saudi attack Aramco Abqaiq  drone Iran demand",
        "Energy News": "Natural Gas LNG Solar Electric fossil fuel coal nuclear wind grant subsidies "
    },
    "Economics International Trade":
    {

        "Trade War": "trade china Xi Jinping Trump tariff soy",
        "Trade Flow": "global import export deficit surplus growth manufacturing expenditure",
        "Economic Data": "CPI PPI inflation gdp recession orders manufacturing production loans rate starts expectation fiscal sentiment retail sales industrial savings",
        "Central Bank": "Federal Reserve ECB Powell Draghi easing labor jobs inflation PBOC expectation sentiment monetary beige repo primary dealer rate cut",    

    },
    "Business Performance":
    {
        "Earnings Call":    "quarter Q1 Q2 Q3 Q4 results service dividend year GAAP per share reporting financials revenues margins",
        "Lending Related": "credit facility covenant restructure term extend loan lend DIP prepay repay receivables",
        "Business Reorganization": "company bankruptcy withdraw divest exit pullout sale sell outflow writeoff split",
        "Business Partnership":  "partner team collaboration alliance deal contract",
        "Operational Outage":    "operational outage disruption halt end cancellation delay",
        "Operations Resume":     "restore restart resume maintain operations",
        "Business Competition":  " rival competitor entrant competitive advantage"
    },
      
        "Company Fundamentals":
    {
        "Stock Related":    "price EPS P/E PEG P/B book value NIM FCF ROE ROA Gross Margin Net Ratio Dividend Debt",
        "Financial Statements ": "balance sheet income statement statement cash flow",
        "Asset Managers": "Schwab Vanguard Blackrock Alliance holdings Bernstein AQR Bridgewater Millenium Hedge Fund Prudential Blackstone Fidelity State Street Amundi"

    },
    "employee worker":
    {
        "Workforce Downsizing": "job cut layoff lay off reorganization termination downsizing",
        "Workforce Discontent": " strike dispute unrest boycott revolt",
    },

    
    "legal and regulatory"	:
    {
        "Legal Lawsuit":        "conviction guilty sue battle in court ruling sentencing class action lawsuit litigation settlement appeals trial testify",
        "Legal Investigation":  "law FBI probe allegation indictment investigation face charges grilled over",
        "Legal Scandal":        "scandal revelation whistleblower accusing accusation",
        "Regulatory Impact":    "compliance safety feds audit fine debt owe penalty privacy discrimination certification government blessing",
        "Environmental Regulation": "environment climate change water quality pollution emission oil spill",
        "Financial Crime":        "insider trading activity financial crime corruption fraud bribe FCPA money laundering"
    },

    "market movements and players":
    {
        "Price Appreciation":  "up post gain increase growth climb upside rise jump surge soar boost upbeat positive buying rally rebound optimisim outperform",
        "Price Decline": "decline down drop fall lose value decrease downside stumble plunge slip plummet negative fear selling pessimisim",
        "Fixed Income Markets": "bond yield convexity duration nfp 10yr note, bill 2yr 30yr treasury bonos gilt bunds PIMCO money market",
        "Equity  Markets": "indexes indices index Dow, S&P QQQ Nasdaq shares Russel large cap small mid penny etf rebalancing stocks",
        "FX  Markets": " EUR USD NZD CNH GBP MXN JPY CHF AUD CAD HKD",
        "Real Estate  Markets": " Mortgage REIT refinance appraisal home listing developer",
        "Startup  Markets": " Unicorn Venture Capital Uber Lyft WeWork Peloton Airbnb fintech insurtech founder angel burn incubator disrupt seed",
        "Crypto  Markets": " Bitcoin Ethereum Monero Ripple BTC ETH XLR XLM Crypto Ledger blockchain",
        "IPO and Investment Banking Markets": " IPO merger acquisition prospectus debut initial public offering direct placement issueance book runner lead",
        "Banks": " Citi Morgan Stanley JP UBS Goldman Wells Fargo Jeffries HSBC TD Nomura BOFA BAML Bank",
        "FANG": "Facebook Amazon Netflix Google",
        "Commodity Markets": " Agriculture Gold Silver Palladium Wheat Lean Hog Corn Oat Coffee Sugar Cattle Heating Copper zinc Lead Aluminium Nickel Platinum Rubber Wool Cocoa",
        "Technical indicators": "RSI MACD resistance support Bollinger Bands momemtum value moving average ema sma candle level oscillator stochastic range volatile beta"
    },
    "market expansion":
    {
        "New Technology":   "new technology system development invention patent artificial intelligence driverless self-driving automation",
        "New Project":      "new project initiative field discovery exploration",
        "New Product":      "new unveil release announce launch build introduce produced concept model"

    },
    
    "Politics":
    {
        "Political Economy":   "slowdown hiring inequality tax wealth",
        #"Generational Economy":   "Boomer Baby Generation gen Z millenial",
        "US Politics":      "Democrat Republican Pompeo congress senate house judiciary supreme court DOJ NSA foreign relations trump white house fbi cia pelosi pence sanders warren biden Ukraine",
    },

     "International":
    {
        "Asian Countries":   "Asian Singapore Japan Korea Jakarta Philippines China Tokyo Seoul",
        "Latin/South American Countries":   "Mexico Panama Costa Rica Colombia Venezuela Peru Brazil Argentina Uruguay Paraguay",
        "Australia":   "Australia Aussie",
        "Africa":   "Africa African Kenya Nigeria Zimbabwe Ethiopia Ghana Congo Cameroon Angola",
        "Europe":      " Europe England Brexit UK France Russia Spain Germany Italy Belgium Netherlands Scandinavia Finland Norway Sweden",
    },

}

# Define functions for using the classify_topics function

In [269]:
def vec_similarity(input1, input2, vectors):
    term_vectors = [np.zeros(300), np.zeros(300)]
    terms = [input1, input2]
        
    for index, term in enumerate(terms):
        for i, t in enumerate(term.split(' ')):
            try:
                term_vectors[index] += vectors[t]
            except:
                term_vectors[index] += 0
        
    result = (1 - spatial.distance.cosine(term_vectors[0], term_vectors[1]))
    if result is 'nan':
        result = 0
        
    return result

In [270]:
# function checks whether the input words are present in the vocabulary for the model
def vocab_check(vectors, words):
    
    output = list()
    for word in words:
        if word in vectors.vocab:
            output.append(word.strip())
            
    return output

In [271]:
# function calculates similarity between two strings using a particular word vector model
def calc_similarity(input1, input2, vectors):
    s1words = set(vocab_check(vectors, input1.split()))
    s2words = set(vocab_check(vectors, input2.split()))
    
    output = vectors.n_similarity(s1words, s2words)
    return output

In [272]:
# function takes an input string, runs similarity for each item in topic_taxonomy, sorts and returns top 3 results
def classify_topics(input, vectors):
    feed_score = dict()
    for key, value in topic_taxonomy.items():
        max_value_score = dict()
        for label, keywords in value.items():
            max_value_score[label] = 0
            topic = (key + ' ' + keywords).strip()
            max_value_score[label] += float(calc_similarity(input, topic, vectors))
            
        sorted_max_score = sorted(max_value_score.items(), key=operator.itemgetter(1), reverse=True)[0]
        feed_score[sorted_max_score[0]] = sorted_max_score[1]
    return sorted(feed_score.items(), key=operator.itemgetter(1), reverse=True)[:3]

# Test Classify Topics Function

In [273]:
if __name__ == '__main__':
    # example using Word2Vec
    output1 = classify_topics('Walmart’s ambitious plan to beat Amazon on free one-day shipping is here', model_word2vec)
    print(output1)
    # example output using FastText, note for FastText, string needs to be non-capitalized
    output2 = classify_topics('White House Has Plan To Force Tillerson Out Replace With CIA Chief', model_word2vec)
    print(output2)

[('FANG', 0.5007544159889221), ('New Product', 0.4226175844669342), ('Business Reorganization', 0.36561262607574463)]
[('Asset Managers', 0.3584586977958679), ('US Politics', 0.33013463020324707), ('Commodity Markets', 0.30607670545578003)]

In [274]:
 output2 = classify_topics('White House Has Plan To Force Tillerson Out Replace With CIA Chief', model_word2vec)
print(output2)

[('Asset Managers', 0.3584586977958679), ('US Politics', 0.33013463020324707), ('Commodity Markets', 0.30607670545578003)]

# Load in Deduped Corpus Titles in Pandas DF

In [526]:
import pickle
import pandas as pd
df = pd.read_pickle('apan_5430_deduped_corpus_titles_df.pickle')

In [527]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [528]:
df = df.dropna()

In [529]:
df

      old_index                                              title
0             0  BHP reviews lobby group membership amid invest...
2           107  US, Chinese envoys to meet in October for tari...
3             5  Boxwood Merger, Atlas Technical Consultants co...
4             6   OCC Fined by SEC/CFTC; CME’s Bitcoin Options(?!)
5             7       Industry bill for PPI claims could hit £53bn
...         ...                                                ...
6628      10292  Best Investment Ideas for Millennials: Complet...
6629      10293  Jiayin Group Announces Changes to Collaboratio...
6630      10295  MML Investors Services LLC Acquires 1,755 Shar...
6631      10296         Monday, September 16 newspaper front pages
6632      10298   Cloudflare Shares Jump 20% in Market Debut - CFO

[6632 rows x 2 columns]

In [530]:
import re
df['title_clean'] = df.title.str.replace('\W', ' ')

In [531]:
df

,old_index,title,title_clean
0,0,BHP reviews lobby group membership amid invest...,BHP reviews lobby group membership amid invest...
2,107,"US, Chinese envoys to meet in October for tari...",US Chinese envoys to meet in October for tari...
3,5,"Boxwood Merger, Atlas Technical Consultants co...",Boxwood Merger Atlas Technical Consultants co...
4,6,OCC Fined by SEC/CFTC; CME’s Bitcoin Options(?!),OCC Fined by SEC CFTC CME s Bitcoin Options
5,7,Industry bill for PPI claims could hit £53bn,Industry bill for PPI claims could hit 53bn
...,...,...,...
6628,10292,Best Investment Ideas for Millennials: Complet...,Best Investment Ideas for Millennials Complet...
6629,10293,Jiayin Group Announces Changes to Collaboratio...,Jiayin Group Announces Changes to Collaboratio...
6630,10295,"MML Investors Services LLC Acquires 1,755 Shar...",MML Investors Services LLC Acquires 1 755 Shar...
6631,10296,"Monday, September 16 newspaper front pages",Monday September 16 newspaper front pages
6632,10298,Cloudflare Shares Jump 20% in Market Debut - CFO,Cloudflare Shares Jump 20 in Market Debut CFO

In [532]:
df=df.drop(df.columns[0], axis=1)

In [533]:
df = df.dropna()

In [534]:
df.shape

(6632, 2)

In [535]:
df = df.reset_index(drop=True)

In [536]:
df

,title,title_clean
0,BHP reviews lobby group membership amid invest...,BHP reviews lobby group membership amid invest...
1,"US, Chinese envoys to meet in October for tari...",US Chinese envoys to meet in October for tari...
2,"Boxwood Merger, Atlas Technical Consultants co...",Boxwood Merger Atlas Technical Consultants co...
3,OCC Fined by SEC/CFTC; CME’s Bitcoin Options(?!),OCC Fined by SEC CFTC CME s Bitcoin Options
4,Industry bill for PPI claims could hit £53bn,Industry bill for PPI claims could hit 53bn
...,...,...
6627,Best Investment Ideas for Millennials: Complet...,Best Investment Ideas for Millennials Complet...
6628,Jiayin Group Announces Changes to Collaboratio...,Jiayin Group Announces Changes to Collaboratio...
6629,"MML Investors Services LLC Acquires 1,755 Shar...",MML Investors Services LLC Acquires 1 755 Shar...
6630,"Monday, September 16 newspaper front pages",Monday September 16 newspaper front pages
6631,Cloudflare Shares Jump 20% in Market Debut - CFO,Cloudflare Shares Jump 20 in Market Debut CFO

In [547]:
#list1 = []
#df['taxonomy_class'] = pd.Series()
#df['taxonomy_ranking'] = pd.Series()
#for i in range(len(df)):
 #   try:
        #list1.append(classify_topics(df.loc[i,'title_clean'],model_word2vec))
  #  except:
  #      print(df.loc[i,'title_clean'])
        pass
    
   # try:
   #     df.loc[i,'taxonomy_class'] = list1[i][0][0]
   #     df.loc[i,'taxonomy_ranking'] = list1[i][0][1]
   # except:
    #    pass 
    
    
       
    
    
    
    
        
        #except:
          #  df.drop(df.iloc[i,:])
         #   continue

    #except ZeroDivisionError:
        #print(df.loc[i,'title_clean'])
        #df.loc[i,'taxonomy_class'] = 'not working'
        #df.loc[i,'taxonomy_ranking'] = 'not working'
        #pass

IndentationError: unexpected indent (<ipython-input-547-346a642fa807>, line 6)

# Iterate through dataframe, append classify topic results to list, access list elements for the highest weighted topic and that topic to reassign to dataframe

### print out exceptions

In [548]:
list1 = []
df['taxonomy_class'] = pd.Series()
df['taxonomy_ranking'] = pd.Series()
for i in range(len(df)):
    try:
        list1.append(classify_topics(df.loc[i,'title_clean'],model_word2vec))
    except:
        print(df.loc[i,'title_clean'])
        pass
    
    try:
        df.loc[i,'taxonomy_class'] = list1[i][0][0]
        df.loc[i,'taxonomy_ranking'] = list1[i][0][1]
    except:
        pass

ల భ ల ల  మ గ స న మ ర క ట ల
स  स क स 190 अ क ल ढ क   न फ ट  55 प व इ ट ग रकर 10900 क  न च  फ सल
Dávná historie akciového trhu a neustálý šum křídel černých labutí
川普推文影響金融市場 小摩創Volfefe指數
koinsvendors
Фондовый рынок умер  Да здравствует новый рынок
स  स क स म   150 अ क क  बढ त  न फ ट  40 प व इ ट चढ कर 11050 क  कर ब पह  च
各路專家估美2020陷衰退 諾獎得主不意外
स  स क स म   150 अ क क  बढ त  न फ ट  45 प व इ ट चढ कर 11050 क  ऊपर पह  च
ಸದ ದ  ಮ ಡ ತ ತ ದ   SayItLikeNirmalaTai
Ortoma offentliggör prospekt
నష ట ల ల  స ట క   మ ర క ట ల
श यर ब ज र म   त न द न क  बढ़त थम   166 54 अ क ग र
स  स क स म   100 अ क क  ग र वट  न फ ट  37 प व इ ट ग रकर 10950 क  न च  फ सल
ब ज र स प त ह क    हर ष  च  उम ळ
Publikationen
मह त म  ग  ध  क  द र य व व  म   व द य र थ य   क  द  गई न व श व स ट क म र क ट क  ज नक र
थ  ब  थ  ब  तळ  स च    श अर ब ज र त ल थ ट ग  तवण क

# There was a problem with the for loop, that I cannot solve, it appears to be stopping once it hits the first exception.

In [549]:
df

,title,title_clean,taxonomy_class,taxonomy_ranking
0,BHP reviews lobby group membership amid invest...,BHP reviews lobby group membership amid invest...,Environmental Regulation,0.490437
1,"US, Chinese envoys to meet in October for tari...",US Chinese envoys to meet in October for tari...,Trade War,0.541850
2,"Boxwood Merger, Atlas Technical Consultants co...",Boxwood Merger Atlas Technical Consultants co...,Business Partnership,0.484722
3,OCC Fined by SEC/CFTC; CME’s Bitcoin Options(?!),OCC Fined by SEC CFTC CME s Bitcoin Options,Banks,0.432219
4,Industry bill for PPI claims could hit £53bn,Industry bill for PPI claims could hit 53bn,Economic Data,0.569445
...,...,...,...,...
6627,Best Investment Ideas for Millennials: Complet...,Best Investment Ideas for Millennials Complet...,NaN,NaN
6628,Jiayin Group Announces Changes to Collaboratio...,Jiayin Group Announces Changes to Collaboratio...,NaN,NaN
6629,"MML Investors Services LLC Acquires 1,755 Shar...",MML Investors Services LLC Acquires 1 755 Shar...,NaN,NaN
6630,"Monday, September 16 newspaper front pages",Monday September 16 newspaper front pages,NaN,NaN
6631,Cloudflare Shares Jump 20% in Market Debut - CFO,Cloudflare Shares Jump 20 in Market Debut CFO,NaN,NaN

In [550]:
df.taxonomy_class.value_counts()

Equity  Markets                       125
Stock Related                          78
Asset Managers                         72
Commodity Markets                      71
Economic Data                          46
Trade War                              37
Price Appreciation                     36
Earnings Call                          27
Price Decline                          23
Central Bank                           20
IPO and Investment Banking Markets     19
US Politics                            12
Startup  Markets                       11
Asian Countries                        11
Banks                                   8
Africa                                  7
Political Economy                       7
Regulatory Impact                       6
FANG                                    6
Real Estate  Markets                    6
Trade Flow                              6
FX  Markets                             5
New Product                             5
Technical indicators                    4
Legal Lawsuit                           4
Europe                                  4
Business Partnership                    3
Legal Investigation                     3
Financial Statements                    3
New Technology                          3
Business Reorganization                 3
Fixed Income Markets                    3
Operational Outage                      2
Energy News                             2
Australia                               2
Environmental Regulation                1
Workforce Downsizing                    1
Latin/South American Countries          1
Oil                                     1
Lending Related                         1
Operations Resume                       1
Oil Countries                           1
New Project                             1
Name: taxonomy_class, dtype: int64

In [551]:
df = df.dropna()

In [552]:
df = pd.DataFrame(df)

In [553]:
df.tail()

,title,title_clean,taxonomy_class,taxonomy_ranking
683,Taiwan Semiconductor Mfg. (NYSE:TSM) Rating In...,Taiwan Semiconductor Mfg NYSE TSM Rating In...,Stock Related,0.576199
684,CORRECTED-PRECIOUS-Gold scales new six-year pe...,CORRECTED PRECIOUS Gold scales new six year pe...,Price Appreciation,0.464415
685,Don't let your investments make you seasick,Don t let your investments make you seasick,Price Decline,0.366884
686,"Zacks.com featured highlights include: Guess?,...",Zacks com featured highlights include Guess ...,Asset Managers,0.515531
687,Marijuana News Today: Pot Stock Market Stages ...,Marijuana News Today Pot Stock Market Stages ...,Commodity Markets,0.488630

In [554]:
df.dtypes

title                object
title_clean          object
taxonomy_class       object
taxonomy_ranking    float64
dtype: object

In [496]:
df['taxonomy_ranking'] = df.taxonomy_ranking.astype(float)

# Use pandas groupby to output each taxonomy class, and for each class, output the top 10 highest ranked titles per taxonomy class

In [555]:
df.set_index(['title']).groupby('taxonomy_class')['taxonomy_ranking'].nlargest(10).reset_index()

,taxonomy_class,title,taxonomy_ranking
0,Africa,Xenophobic attacks: We are soft on South Afric...,0.573674
1,Africa,Xenophobia Threatens Nigeria-South Africa $60 ...,0.555778
2,Africa,MTN Nigeria Shares Hit 3-month High,0.501480
3,Africa,"Koos Bekker, South Africa’s TV king, goes glob...",0.497261
4,Africa,Nigeria: Xenophobic Attacks Threaten U.S.$60 B...,0.492589
...,...,...,...
235,US Politics,"Xenophobia: Go On The Offensive Now, APC Tells...",0.379606
236,US Politics,Ex-Bush Adviser Predicts Trump Will Resign In ...,0.342389
237,US Politics,Trump: “Where did I find this guy Jerome?”,0.334704
238,US Politics,Messi può lasciare il Barcellona gratis alla f...,0.314274
239,Workforce Downsizing,Sears and Kmart keep shrinking. Here's what's ...,0.441364

In [559]:
df_output = df.set_index(['title_clean']).groupby('taxonomy_class')['taxonomy_ranking'].nlargest(10).reset_index()

In [560]:
df_output.taxonomy_class.unique()

array(['Africa', 'Asian Countries', 'Asset Managers', 'Australia',
       'Banks', 'Business Partnership', 'Business Reorganization',
       'Central Bank', 'Commodity Markets', 'Earnings Call',
       'Economic Data', 'Energy News', 'Environmental Regulation',
       'Equity  Markets', 'Europe', 'FANG', 'FX  Markets',
       'Financial Statements ', 'Fixed Income Markets',
       'IPO and Investment Banking Markets',
       'Latin/South American Countries', 'Legal Investigation',
       'Legal Lawsuit', 'Lending Related', 'New Product', 'New Project',
       'New Technology', 'Oil', 'Oil Countries', 'Operational Outage',
       'Operations Resume', 'Political Economy', 'Price Appreciation',
       'Price Decline', 'Real Estate  Markets', 'Regulatory Impact',
       'Startup  Markets', 'Stock Related', 'Technical indicators',
       'Trade Flow', 'Trade War', 'US Politics', 'Workforce Downsizing'],
      dtype=object)

In [561]:
df_output.head(20)

,taxonomy_class,title_clean,taxonomy_ranking
0,Africa,Xenophobic attacks We are soft on South Afric...,0.573674
1,Africa,Xenophobia Threatens Nigeria South Africa 60 ...,0.555778
2,Africa,MTN Nigeria Shares Hit 3 month High,0.501480
3,Africa,Koos Bekker South Africa s TV king goes glob...,0.497261
4,Africa,Nigeria Xenophobic Attacks Threaten U S 60 B...,0.492589
5,Africa,Nationalise MTN Shoprite others APC urges F...,0.490208
6,Africa,Xenophobia Take Over All S african Firms AP...,0.360921
7,Asian Countries,Asian stocks keep rising on US China trade hop...,0.577383
8,Asian Countries,LEAD Seoul stocks up for 3rd day on U S Chi...,0.541860
9,Asian Countries,US China to resume trade talks in Washington ...,0.529289
10,Asian Countries,China US to hold trade talks in October Beij...,0.514114
11,Asian Countries,High level China US talks in October,0.487424
12,Asian Countries,International Developments that Impacted on In...,0.482575
13,Asian Countries,In China a state run battle to keep Hong Kong...,0.452269
14,Asian Countries,Bursa Malaysia closes slightly lower,0.449431
15,Asian Countries,China US talks back on track after call,0.442445
16,Asian Countries,Japanese Market Advances,0.418603
17,Asset Managers,LPL Financial LLC Has 18 98 Million Holdings ...,0.714297
18,Asset Managers,Vanguard Total Stock Market ETF NYSEARCA VTI ...,0.710701
19,Asset Managers,BerganKDV Wealth Management LLC Buys 20 020 Sh...,0.674943

In [562]:
df_output.tail(20)

,taxonomy_class,title_clean,taxonomy_ranking
220,Trade War,Trump s Chinese tariffs creating crash course ...,0.605715
221,Trade War,China took advantage of the United States and ...,0.593379
222,Trade War,U S Chinese trade negotiators to meet for ta...,0.591361
223,Trade War,China says talks with US on tariffs and trade ...,0.577837
224,Trade War,US China to resume trade talks in Washington ...,0.561188
225,Trade War,US Chinese envoys to meet in October for tari...,0.557874
226,Trade War,U S China set new tariff talks,0.551350
227,Trade War,U S China Plan Oct Trade Talks Industrial E...,0.547097
228,Trade War,Trump s trade war and Brexit are creating a f...,0.544369
229,US Politics,Putin rebuffs call by Japan s Abe to sign Worl...,0.473344
230,US Politics,Brexit latest news Rebel bill passes in the L...,0.472221
231,US Politics,Opinion Has Trump lowered the bar for Biden s...,0.456959
232,US Politics,Susan Del Percio on Trump I Don t Know if We...,0.400994
233,US Politics,Biden s Unappealing Fundraising Appeal Letter ...,0.391064
234,US Politics,Cari film semi Austria Jerman tentang wanita c...,0.388078
235,US Politics,Xenophobia Go On The Offensive Now APC Tells...,0.379606
236,US Politics,Ex Bush Adviser Predicts Trump Will Resign In ...,0.342389
237,US Politics,Trump Where did I find this guy Jerome,0.334704
238,US Politics,Messi può lasciare il Barcellona gratis alla f...,0.314274
239,Workforce Downsizing,Sears and Kmart keep shrinking Here s what s ...,0.441364

In [ ]:
df_output.to_csv('mv2705_assignment9_output.csv')