In [66]:
import os,array
import pandas as pd
os.chdir('/Users/matthewvitha/Desktop/ml_final')
import time

from PIL import Image
columnNames = list()

for i in range(784):
    pixel = 'pixel'
    pixel += str(i)
    columnNames.append(pixel)


train_data = pd.DataFrame(columns = columnNames)
start_time = time.time()
for i in range(557,582):
    t = i
    img_name = "IMG_2"+str(t)+'.JPG'
    img = Image.open(img_name)
    rawData = img.load()
    data = []
    for y in range(28):
        for x in range(28):
            data.append(rawData[x,y][0])
    k = 0
        #print data
    train_data.loc[i] = [data[k] for k in range(784)]
    #print train_data.loc[0]

In [67]:
train_data.reset_index(inplace=True)

In [68]:
train_data['label_1'] = pd.Series()
for i in range(0,5):
    train_data.loc[i,'label_1'] = 4
    
for i in range(5,10):
    train_data.loc[i,'label_1'] = 3
    
for i in range(10,14):
    train_data.loc[i,'label_1'] = 2

for i in range(14,19):
    train_data.loc[i,'label_1'] = 1
    
for i in range(19,25):
    train_data.loc[i,'label_1'] = 0

In [69]:
train_data.head(2)

,index,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label_1
0,557,23,21,18,15,14,15,17,18,23,...,169,169,169,168,167,168,168,168,168,4.0
1,558,103,90,78,77,71,47,92,121,89,...,151,151,152,153,153,153,153,154,155,4.0

In [70]:
train_data.tail(2)

,index,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label_1
23,580,151,148,146,144,143,143,145,145,141,...,143,145,145,145,144,145,147,148,146,0.0
24,581,128,129,129,128,127,125,125,125,127,...,128,128,128,127,127,128,128,127,126,0.0

In [71]:
import os,array
import pandas as pd
os.chdir('/Users/matthewvitha/Desktop/ml_final')
import time

from PIL import Image
columnNames = list()

for i in range(784):
    pixel = 'pixel'
    pixel += str(i)
    columnNames.append(pixel)


train_data1 = pd.DataFrame(columns = columnNames)
start_time = time.time()
for i in range(585,610):
    t = i
    img_name = "IMG_2"+str(t)+'.JPG'
    img = Image.open(img_name)
    rawData = img.load()
    data = []
    for y in range(28):
        for x in range(28):
            data.append(rawData[x,y][0])
    k = 0
        #print data
    train_data1.loc[i] = [data[k] for k in range(784)]
    #print train_data.loc[0]

In [72]:
train_data1.reset_index(inplace=True)

In [73]:
train_data1['label_1'] = pd.Series()
for i in range(0,5):
    train_data1.loc[i,'label_1'] = 5
    
for i in range(5,10):
    train_data1.loc[i,'label_1'] = 6
    
for i in range(10,15):
    train_data1.loc[i,'label_1'] = 7

for i in range(15,20):
    train_data1.loc[i,'label_1'] = 8
    
for i in range(20,25):
    train_data1.loc[i,'label_1'] = 9

In [74]:
train_data1.head(2)

,index,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label_1
0,585,2,2,2,2,2,2,1,1,2,...,72,72,72,72,72,73,73,74,74,5.0
1,586,1,1,1,1,1,1,1,1,0,...,63,63,64,65,65,65,65,66,66,5.0

In [75]:
train_data1.tail(2)

,index,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label_1
23,608,67,67,66,66,66,67,67,68,68,...,73,73,70,70,70,71,74,75,76,9.0
24,609,68,67,66,66,66,65,66,67,66,...,71,71,71,72,72,73,74,75,76,9.0

In [76]:
train_data1

,index,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label_1
0,585,2,2,2,2,2,2,1,1,2,...,72,72,72,72,72,73,73,74,74,5.0
1,586,1,1,1,1,1,1,1,1,0,...,63,63,64,65,65,65,65,66,66,5.0
2,587,2,2,2,2,2,2,1,1,2,...,74,75,75,76,76,77,77,78,79,5.0
3,588,65,65,65,65,66,66,66,66,64,...,72,73,73,73,73,75,75,75,74,5.0
4,589,3,3,2,1,3,3,3,3,3,...,69,70,71,72,72,73,73,72,72,5.0
5,590,53,52,52,52,52,52,52,52,53,...,55,56,57,58,59,61,61,61,60,6.0
6,591,1,1,1,1,1,1,1,1,1,...,63,65,66,68,69,66,66,66,65,6.0
7,592,63,64,63,63,62,62,63,64,62,...,71,71,72,72,72,72,72,72,73,6.0
8,593,51,51,51,51,51,51,51,51,53,...,54,54,57,57,57,58,58,58,58,6.0
9,594,1,1,1,1,1,1,1,1,1,...,57,57,57,57,57,54,56,56,54,6.0
10,595,44,44,46,45,45,45,45,45,45,...,49,49,51,51,52,51,51,52,52,7.0
11,596,54,54,54,53,53,54,54,54,55,...,61,62,62,62,61,61,61,60,60,7.0
12,597,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,3,2,1,1,7.0
13,598,144,145,146,146,146,145,144,143,144,...,146,146,146,146,146,146,146,146,146,7.0
14,599,64,63,63,62,62,62,63,63,63,...,68,69,70,71,71,71,71,71,71,7.0
15,600,65,66,68,68,68,67,66,67,66,...,71,72,74,74,73,75,74,73,73,8.0
16,601,2,2,2,2,2,2,1,1,2,...,81,82,83,83,83,81,83,82,80,8.0
17,602,2,2,2,2,2,2,2,2,2,...,72,73,73,74,74,74,74,74,74,8.0
18,603,6,5,4,4,5,6,6,5,3,...,62,62,63,63,63,64,64,64,64,8.0
19,604,2,2,2,2,2,2,2,2,2,...,69,71,71,72,74,73,72,72,73,8.0
20,605,66,65,64,64,66,66,66,65,65,...,68,69,69,69,69,70,71,72,73,9.0
21,606,50,51,52,52,52,52,53,53,54,...,60,60,61,62,62,62,62,63,64,9.0
22,607,2,2,2,3,3,2,2,2,2,...,53,53,53,53,53,54,54,54,54,9.0
23,608,67,67,66,66,66,67,67,68,68,...,73,73,70,70,70,71,74,75,76,9.0
24,609,68,67,66,66,66,65,66,67,66,...,71,71,71,72,72,73,74,75,76,9.0

In [77]:
new_test = pd.concat([train_data,train_data1],ignore_index=True)

In [78]:
new_test.drop('index',axis=1,inplace=True)

In [79]:
new_test.shape

(50, 785)

In [80]:
new_test.head(2)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,label_1
0,23,21,18,15,14,15,17,18,23,21,...,169,169,169,168,167,168,168,168,168,4.0
1,103,90,78,77,71,47,92,121,89,80,...,151,151,152,153,153,153,153,154,155,4.0

# Code for binary if needed
import numpy as np
mat = np.where(new_test>100,0,255)
new_test_binary = pd.DataFrame((mat/255))

In [49]:
import tensorflow as tf
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()

print('Training Data: {}'.format(x_train.shape))
print('Training Labels: {}'.format(y_train.shape))


print('Testing Data: {}'.format(x_test.shape))
print('Testing Labels: {}'.format(y_test.shape))

Training Data: (60000, 28, 28)
Training Labels: (60000,)
Testing Data: (10000, 28, 28)
Testing Labels: (10000,)

In [51]:
X_train = x_train.reshape(len(x_train),-1)
Y_train = y_train

# normalize the data to 0 - 1

X_train = X_train.astype(float) / 255.

print(X_train.shape)
print(X_train[0].shape)

(60000, 784)
(784,)

In [52]:
from sklearn.cluster import MiniBatchKMeans

n_digits = len(np.unique(y_test))
print(n_digits)

# Initialize KMeans model

kmeans = MiniBatchKMeans(n_clusters = n_digits)

# Fit the model to the training data

kmeans.fit(X_train)

kmeans.labels_

10

array([8, 1, 7, ..., 8, 5, 2], dtype=int32)

In [53]:
def infer_cluster_labels(kmeans, actual_labels):
    """
    Associates most probable label with each cluster in KMeans model
    returns: dictionary of clusters assigned to each label
    """

    inferred_labels = {}

    for i in range(kmeans.n_clusters):

        # find index of points in cluster
        labels = []
        index = np.where(kmeans.labels_ == i)

        # append actual labels for each point in cluster
        labels.append(actual_labels[index])

        # determine most common label
        if len(labels[0]) == 1:
            counts = np.bincount(labels[0])
        else:
            counts = np.bincount(np.squeeze(labels))

        # assign the cluster to a value in the inferred_labels dictionary
        if np.argmax(counts) in inferred_labels:
            # append the new number to the existing array at this slot
            inferred_labels[np.argmax(counts)].append(i)
        else:
            # create a new array in this slot
            inferred_labels[np.argmax(counts)] = [i]

        #print(labels)
        #print('Cluster: {}, label: {}'.format(i, np.argmax(counts)))
        
    return inferred_labels  

def infer_data_labels(X_labels, cluster_labels):
    """
    Determines label for each array, depending on the cluster it has been assigned to.
    returns: predicted labels for each array
    """
    
    # empty array of len(X)
    predicted_labels = np.zeros(len(X_labels)).astype(np.uint8)
    
    for i, cluster in enumerate(X_labels):
        for key, value in cluster_labels.items():
            if cluster in value:
                predicted_labels[i] = key
                
    return predicted_labels

In [56]:
cluster_labels = infer_cluster_labels(kmeans, Y_train)
X_clusters = kmeans.predict(X_train)
predicted_labels = infer_data_labels(X_clusters, cluster_labels)
print(predicted_labels[:20])
print(Y_train[:20])

[8 0 2 1 9 5 1 8 1 5 8 1 3 6 1 7 2 5 6 1]
[5 0 4 1 9 2 1 3 1 4 3 5 3 6 1 7 2 8 6 9]

In [57]:
from sklearn import metrics

def calculate_metrics(estimator, data, labels):

    # Calculate and print metrics
    print('Number of Clusters: {}'.format(estimator.n_clusters))
    print('Inertia: {}'.format(estimator.inertia_))
    print('Homogeneity: {}'.format(metrics.homogeneity_score(labels, estimator.labels_)))

In [58]:
clusters = [10]

# test different numbers of clusters
for n_clusters in clusters:
    estimator = MiniBatchKMeans(n_clusters = n_clusters)
    estimator.fit(X_train)
    
    # print cluster metrics
    calculate_metrics(estimator, X_train, Y_train)
    
    # determine predicted labels
    cluster_labels = infer_cluster_labels(estimator, Y_train)
    predicted_Y = infer_data_labels(estimator.labels_, cluster_labels)
    
    # calculate and print accuracy
    print('Accuracy: {}\n'.format(metrics.accuracy_score(Y_train, predicted_Y)))

Number of Clusters: 10
Inertia: 2372532.4547864925
Homogeneity: 0.4826882253414341
Accuracy: 0.5785833333333333

In [ ]:
X_new_test = new_test.drop('label_1',axis=1)
X_new_test = np.array(X_new_test.astype(float) / 255.)
Y_new_test = np.array(new_test['label_1'].astype(int))

In [109]:
clusters = [10]

# test different numbers of clusters
for n_clusters in clusters:
    estimator = MiniBatchKMeans(n_clusters = n_clusters)
    estimator.fit(X_new_test)
    
    # print cluster metrics
    calculate_metrics(estimator, X_new_test, Y_new_test)
    
    # determine predicted labels
    cluster_labels = infer_cluster_labels(estimator, Y_new_test)
    predicted_Y = infer_data_labels(estimator.labels_, cluster_labels)
    
    # calculate and print accuracy
    print('Accuracy: {}\n'.format(metrics.accuracy_score(Y_new_test, predicted_Y)))

Number of Clusters: 10
Inertia: 101.82030693689467
Homogeneity: 0.44233355094202925
Accuracy: 0.42

# Load Logistic Regression - Evaluate on New Test Data

In [115]:
import pickle
filename = '/Users/matthewvitha/Downloads/APAN5335_logistic_reg.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [116]:
result = loaded_model.score(X_new_test, Y_new_test)
print(result)

0.1

# SVM

In [119]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [120]:
import numpy as np
import pandas as pd
train = pd.read_csv('/Users/matthewvitha/Downloads/mnist_train.csv')
new_column_name = ['label']
for num in range(train.shape[1]-1):
    tem = 'pixel' + str(num)
    new_column_name.append(tem)

train.columns = new_column_name

train_result = train["label"]  # dependent variable
train_predictors = train.drop(["label"], axis = 1)

test = pd.read_csv('/Users/matthewvitha/Downloads/mnist_test.csv')
new_column_name = ['label']
for num in range(test.shape[1]-1):
    tem = 'pixel' + str(num)
    new_column_name.append(tem)

test.columns = new_column_name

test_result = test["label"]  # dependent variable
test_predictors = test.drop(["label"], axis = 1)

In [121]:
steps = [('scaler', StandardScaler()), ('SVM', SVC(kernel='poly'))]
parameters = {'SVM__C':[0.001], 'SVM__gamma':[10]}
pipeline = Pipeline(steps)

In [122]:
grid = GridSearchCV(pipeline, param_grid=parameters, cv=3)
grid.fit(train_predictors[0:5000], train_result[0:5000])

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('scaler',
                                        StandardScaler(copy=True,
                                                       with_mean=True,
                                                       with_std=True)),
                                       ('SVM',
                                        SVC(C=1.0, cache_size=200,
                                            class_weight=None, coef0=0.0,
                                            decision_function_shape='ovr',
                                            degree=3, gamma='auto_deprecated',
                                            kernel='poly', max_iter=-1,
                                            probability=False,
                                            random_state=None, shrinking=True,
                                            tol=0.001, verbose=False))],
                                verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'SVM__C': [0.001], 'SVM__gamma': [10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [123]:

print("score = %3.2f" %(grid.score(X_new_test, Y_new_test)))


#print("best parameters from train data: ", grid.best_params_)

score = 0.10

# Decision tree for New Test Data

In [124]:
from sklearn import tree
from sklearn import metrics

In [125]:
clf = tree.DecisionTreeClassifier(criterion="gini", max_depth=32, max_features=349)
clf = clf.fit(train_predictors, train_result)

In [126]:
predictionRes = clf.predict(X_new_test)
print(metrics.classification_report(Y_new_test.tolist(), predictionRes, digits=4))

              precision    recall  f1-score   support

           0     0.0000    0.0000    0.0000         6
           1     0.0000    0.0000    0.0000         5
           2     0.0000    0.0000    0.0000         4
           3     0.0000    0.0000    0.0000         5
           4     0.1765    0.6000    0.2727         5
           5     0.0000    0.0000    0.0000         5
           6     0.0000    0.0000    0.0000         5
           7     0.1212    0.8000    0.2105         5
           8     0.0000    0.0000    0.0000         5
           9     0.0000    0.0000    0.0000         5

    accuracy                         0.1400        50
   macro avg     0.0298    0.1400    0.0483        50
weighted avg     0.0298    0.1400    0.0483        50

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Load in Random Forest

In [127]:
loaded_model = pickle.load(open('/Users/matthewvitha/Downloads/apanps5335_ranforclass_model.sav', 'rb'))
result = loaded_model.score(X_new_test, Y_new_test)
print(result)

0.1

# Load in Highest Performing Deep Learning Model

In [130]:
from keras.models import model_from_json
# load json and create model
json_file = open("/Users/matthewvitha/Downloads/APAN5335_cnn_model.json", 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("/Users/matthewvitha/Downloads/model.h5")
print("Loaded model from disk")

Loaded model from disk

In [134]:
X_new_test_cnn = X_new_test.reshape(X_new_test.shape[0], 28, 28, 1)

In [136]:
from keras.utils import np_utils

number_of_classes = 10
Y_new_test_cnn = np_utils.to_categorical(Y_new_test, number_of_classes)

In [137]:
from keras.optimizers import Adam

# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer=Adam(), metrics=['accuracy'])
score = loaded_model.evaluate(X_new_test_cnn, Y_new_test_cnn, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))

accuracy: 81.00%